body {
    font-family: 'Nunito Sans', sans-serif;
}

/* navbar */
nav {
    background-color: #1A1A1A;
    font-size: 18px;
    font-weight: 700;
}

.nav-item .nav-link {
    color: #ffffff;
}

.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(281deg) brightness(106%) contrast(102%);
}

.button-daftar {
    border-radius: 8px;
    border: 2px solid #D84533;
    color: #D84533;
    background-color: transparent;
    padding: 16px 56px;
}

.button-daftar:hover {
    background-color: #D84533;
    color: #FFFFFF;

}

.button-masuk {
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #D84533;
    padding: 16px 56px;
}

nav input.form-icon {
    font-family: 'Nunito Sans', 'FontAwesome', sans-serif;
    text-decoration: inherit;
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.nav-link.active {
    color: #D84533 !important;
}

/* END Navbar */
/* Content */
.content {
    color: #FFFFFF;
}

.content input.form-icon {
    font-family: 'Nunito Sans', 'FontAwesome', sans-serif;
    text-decoration: inherit;
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content h4.title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.content p.subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content form .form-label {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content form .status {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content form .description {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.content table tbody tr td {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content p.rule {
    color: #F1C94C;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.content .box {
    border-radius: 10px;
    background: #444343;
}

.content .button-check-trasaction {
    border-radius: 8px;
    border: none;
    background: #E54649;
    padding: 10px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

table {
    border-collapse: separate;
    border-spacing: 0 0px;
    margin-top: -10px;
}

.content thead th {
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
    background-color: #696969;
}

.content tbody td {
    padding: 10px;
}

.content thead th:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
}

.content thead th:last-child {
    border-right-style: solid;
    border-top-right-radius: 10px;
}

.content tbody td:first-child {
    border-left: 2px solid #696969;
}

.content tbody tr:last-child>td:first-child {
    border-bottom: 2px solid #696969;
}

.content tbody tr:first-child>td:last-child {
    border-right: 2px solid #696969;
}

.content tbody tr:last-child>td:last-child {
    border-right: 2px solid #696969;
    border-bottom: 2px solid #696969;
}

.content tbody tr:last-child>td {
    border-bottom: 2px solid #696969;
}

.content tbody tr td:last-child {
    border-right: 2px solid #696969;
}

.content .list-last-transaction h4.title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.content .list-last-transaction p.description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

table tbody tr td.belum-diproses {
    color: #DC3545;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

table tbody tr td.tertunda {
    color: #F1C94C;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

table tbody tr td.selesai {
    color: #03C988;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

table tbody tr td.proses {
    color: #2192FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

/* END Content */
/* Footer */
footer {
    color: #FFFFFF;
}

footer .icon-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #FFF;
}

footer .header {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

footer p a {
    text-decoration: none;
    color: #E54649;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


/* END Footer */