body {
    font-family: 'Nunito Sans', sans-serif;
}

/* navbar */
nav {
    background-color: #1A1A1A;
    font-size: 18px;
    font-weight: 700;
}

.nav-item .nav-link {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.button-daftar {
    border-radius: 8px;
    border: 2px solid #D84533;
    color: #D84533;
    background-color: transparent;
    padding: 16px 56px;
}

.button-daftar:hover {
    background-color: #D84533;
    color: #FFFFFF;

}

.button-masuk {
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #D84533;
    padding: 16px 56px;
}

nav input.form-icon {
    font-family: 'Nunito Sans', 'FontAwesome', sans-serif;
    text-decoration: inherit;
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.nav-link.active {
    color: #D84533 !important;
}

nav .img-box {
    background-color: #D84533;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

nav .img-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 15%;
}

nav .dropdown a:not(.dropdown-menu a) {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

/* END Navbar */

/* Content */
.content {
    color: #FFFFFF;
}

.content .sidebar {
    border-radius: 10px;
    border: 2px solid #696969;
    background: #444343;
}

.content .sidebar .item i {
    font-size: 20px;
    margin-right: 3%;
}

.content .sidebar .item.active {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #E54649 0%, #C23B37 100%);
}

.content .sidebar .item {
    color: #B1B8C1;
}

.content .sidebar .item:hover:not(.logout) {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #E54649 0%, #C23B37 100%);
}


.content .sidebar .item:hover>a.caption {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.content .sidebar .item.active>a.caption {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.content .sidebar .item a.caption {
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .sidebar .item.logout>a.caption {
    color: #E54649;
}

.content .sidebar .item.logout {
    color: #E54649;
}

.content .right-content .box {
    border-radius: 10px;
    border: 2px solid #696969;
    background: #444343;
}

.content .right-content .img-box {
    background-color: #D84533;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.content .right-content .img-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 15%;
}

.content .right-content a.name {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.content .right-content p.member-category {
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .right-content p.info-join-date {
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
}

.content .right-content .button-edit-profile {
    border-radius: 20px;
    background: #E54649;
    padding: 16px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.content .right-content .button-edit-password {
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    padding: 16px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.content .right-content .button-edit-password:hover {
    border-radius: 20px;
    background: #E54649;
    padding: 16px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    border: none;
}

.content .right-content h4.title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.content .right-content .button-update-profile {
    border-radius: 8px;
    background: #E54649;
    padding: 16px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/* END Content */

/* Footer */
footer {
    color: #FFFFFF;
}

footer .icon-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #FFF;
}

footer .header {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

footer p a {
    text-decoration: none;
    color: #E54649;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


/* END Footer */