body {
    font-family: 'Nunito Sans', sans-serif;
}

/* navbar */
nav {
    background-color: #1A1A1A;
    font-size: 18px;
    font-weight: 700;
}

.nav-item .nav-link {
    color: #ffffff;
}

.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(281deg) brightness(106%) contrast(102%);
}

.button-daftar {
    border-radius: 8px;
    border: 2px solid #D84533;
    color: #D84533;
    background-color: transparent;
    padding: 16px 56px;
}

.button-daftar:hover {
    background-color: #D84533;
    color: #FFFFFF;

}

.button-masuk {
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #D84533;
    padding: 16px 56px;
}

nav input.form-icon {
    font-family: 'Nunito Sans', 'FontAwesome', sans-serif;
    text-decoration: inherit;
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.nav-link.active {
    color: #D84533 !important;
}

nav .img-box {
    background-color: #D84533;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

nav .img-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 15%;
}

nav .dropdown a:not(.dropdown-menu a) {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

/* END Navbar */

/* Content */
.content {
    color: #FFFFFF;
}

.content .sidebar {
    border-radius: 10px;
    border: 2px solid #696969;
    background: #444343;
}

.content .sidebar .item i {
    font-size: 20px;
    margin-right: 3%;
}

.content .sidebar .item.active {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #E54649 0%, #C23B37 100%);
}

.content .sidebar .item {
    color: #B1B8C1;
}

.content .sidebar .item:hover:not(.logout) {
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, #E54649 0%, #C23B37 100%);
}


.content .sidebar .item:hover>a.caption {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.content .sidebar .item.active>a.caption {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.content .sidebar .item a.caption {
    color: #B1B8C1;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .sidebar .item.logout>a.caption {
    color: #E54649;
}

.content .sidebar .item.logout {
    color: #E54649;
}

.content .right-content .box {
    border-radius: 10px;
    border: 2px solid #696969;
    background: #444343;
}

.content .right-content h4.title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.content .right-content p.caption {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .right-content .box-question {
    border: 2px solid #E54649;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    color: #E54649;
}

.content .right-content .membership-box {
    border-radius: 10px;
}

.content .right-content .membership-box div.line-membership {
    width: 100%;
    height: 1px;
    background-color: #B1B8C1;
    margin: 2% 0;
}

.content .right-content .regular-membership {
    border-radius: 10px;
    background: linear-gradient(89deg, #E07A3F 27.52%, #F79E63 87.39%);
}

.content .right-content .silver-membership {
    border-radius: 10px;
    background: linear-gradient(95deg, #818181 27.11%, #AAA 104.74%);
}

.content .right-content .gold-membership {
    border-radius: 10px;
    background: linear-gradient(95deg, #F5791E -10.67%, #FBBC04 102.41%);
}

.content .right-content .membership-box h5.membership-title {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .right-content .membership-box h6.membership-price {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.content .right-content .membership-box p.membership-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content .right-content h5.info {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.content .right-content .button-top-up {
    border-radius: 8px;
    background: #E54649;
    width: 290px;
    padding: 16px 46px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.content .right-content .payment-method-group .method {
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    background: #818181;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.content .right-content .payment-method-group .list-app {
    margin-top: -2%;
    border-radius: 10px;
    background: #FFF;
}

.content .right-content span.caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.content .right-content p.amount,
.content .right-content p.info {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.content .right-content .button-pay-now {
    width: 290px;
    padding: 16px 46px;
    border-radius: 8px;
    background: #E54649;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/* END Content */

/* Footer */
footer {
    color: #FFFFFF;
}

footer .icon-box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #FFF;
}

footer .header {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

footer p a {
    text-decoration: none;
    color: #E54649;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


/* END Footer */